/*ESTE ESPACIO ES DE REGISTRO*/
:root {
    --width: 250px;
    --padding: 10px;
    --width-collapsed: 50px;
    --margin-top-header: 15vh;
}

.container{
    position: fixed;
    display: flex;
    align-items:center;
    justify-content:center;
    margin: var(--margin-top-header) 32.5%;
}
.container_form{
    display: flex;
    flex-flow: column wrap;
    flex: auto;
    height: 370px;
    width: 350px;
    background-color:#0a1e35;
    border-radius:15px;
    padding:40px;
    opacity: 0.9;
}
.title_SignUp{
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}
.title_SignUp .logo_SignUp{
    overflow: hidden;
    flex: auto;
}
.title_SignUp .logo_SignUp img{
    overflow: hidden;
    flex: auto;
    width: 60px;
}
.title_SignUp h2{
    overflow: hidden;
    font-size: 20px ;
    text-align: center;
    color: white;
}
#formulario_SignUp{
    overflow: hidden;
    display: flex;
    flex: auto;
    flex-flow: column wrap;
    font-size: 20px;
}
.contenedor_input_collapsed{
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    flex: auto;
    height: 45px;
}
#formulario_SignUp .contenedor_input_collapsed input{
    overflow: hidden;
    margin: 0px;
    width: 100%;
    border: none;
    height: 35px;
    background-color: transparent;
    color: gray;
    outline: none;  
    border-bottom: solid 2px gray;
}


#formulario_SignUp .check{
    margin: 0px 0 20px 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
#formulario_SignUp .contenedor_input_collapsed .check #check_id{
    width: 15px;
}
#formulario_SignUp  .check label,
#formulario_SignUp  .check a{
    font-size: 15px;
    color: gray;
}
#formulario_SignUp  .contenedor_input_collapsed .boton-login{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.281);
    color: white;
    border: 1px solid;
    border-radius: 15px;
}
#formulario_SignUp  .contenedor_input_collapsed .boton-login:hover{
    background-color: rgba(0, 0, 255, 0.562);
}
#formulario_SignUp  .contenedor_input_collapsed .boton-login input{
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    color: white;
    flex: auto;
    border: none;
}
