
.formulario_registro{
    display: flex;
    flex-flow: column wrap ;
    justify-content: center;
    background-color: #0a1e35;
    width: 400px;
    padding: 40px;
    margin: auto;
    margin-top: 100px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-shadow: 7px 7px 25px black;
}

.formulario_registro h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.cuadros{
    width: 100%;
    background-color: blanchedalmond;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario_registro .boton {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}
.formulario_registro .boton input{
    width: 150px;
    align-items: center;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.281);
    color: white;
    font-size: 20px;
    border: 1px solid;
    border-radius: 15px;
    padding: 5px 5px;
}
