:root{
    --width: 250px;
    --padding: 10px;
    --margin-top-header: 15vh;
}
#main-container{
    padding-left: 5vw;
    border: none;
    height: auto;
    color: rgb(0, 0, 0);
    margin-top:calc(var(--margin-top-header) + 5vh) ;
}
#main-container #principal-title{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 25px;
}
#main-container #principal-title .title{
    padding-left: var(--padding);
    font-weight: 700;
    font-size: 35px;
    right: 0;
}
#main-container .principal-container{
    display: flex; 
    flex-flow: row wrap;
    border: none;
}
#main-container .principal-container .option-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 15px;
    height: 100%;
    width: var(--width);
    border-radius: 25px;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.89);
    padding: var(--padding);
    background-color: #00C3EB;
    transition: width 2s, height 4s;
    font-weight: 800;
}
#main-container .principal-container .option-container:hover{
    font-size: 20px;
    transform: translate(0px , 2px);
}
#main-container .principal-container .option-container:active{
    transform: translateZ(2px);
}
#main-container .principal-container .option-container span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
    border: none;
    cursor: pointer;
}
#main-container .principal-container .option-container img{
    display: flex;
    margin-left: 3%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 35%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.349);
    cursor: pointer;
    border: none;
}